<!DOCTYPE html>
<html>

<head>
    <title>Pseudocode interpreter</title>
    <meta charset="utf-8">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/index.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/theme-chalk/index.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.23.0/min/vs/loader.min.js"></script>
    <style>
        .el-divider--vertical {
            height: auto;
        }

        .el-textarea>textarea {
            font-family: consolas;
            height: 100% !important;
        }

        html,
        body,
        #app,
        .el-container,
        .el-main>div {
            height: 100%;
            max-height: 100%;
            overflow: hidden;
        }

        .half {
            flex-basis: 100px;
            flex-grow: 1;
            overflow: auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header height="auto" style="text-align:center">
                <h1>Pseudocode interpreter</h1>
                <el-button @click="run">run</el-button>
            </el-header>
            <el-main>
                <div style="display:flex;max-height:100%;">
                    <div ref="editor" v-show="editor" class="half" style="overflow: hidden;"></div>
                    <el-input v-if="!editor" type="textarea" placeholder="Code" resize="none" class="half"
                        v-model="code">
                    </el-input>
                    <el-divider direction="vertical"></el-divider>
                    <div class="half">
                        <el-collapse v-model="activeNames">
                            <el-collapse-item title="Output" name="3">
                                <template slot="title">
                                    Output
                                </template>
                                <div style="white-space:break-spaces;font-family:consolas;"></div>
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                </div>
            </el-main>
        </el-container>
    </div>
    <script type="text/javascript" src="./scanner.js"></script>
    <script>
        Vue.use(ELEMENT);
        var app = new Vue({
            el: '#app',
            data: {
                activeNames: ['3'],
                dwarf2: false,
                code: ``,
                curLevel: 1,
                output: '',
                tokens: '',
                editor: null
            },
            mounted() {
                require.config({ paths: { 'vs': 'https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.23.0/min/vs' } });
                window.MonacoEnvironment = {
                    getWorkerUrl: function (workerId, label) {
                        return `data:text/javascript;charset=utf-8,${encodeURIComponent(`
                            self.MonacoEnvironment = {
                            baseUrl: 'https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.23.0/min'
                            };
                            importScripts('https://cdn.bootcdn.net/ajax/libs/monaco-editor/0.23.0/min/vs/base/worker/workerMain.js');`
                        )}`;
                    }
                };
                require(["vs/editor/editor.main"], () => {
                    this.editor = monaco.editor.create(this.$refs.editor, {
                        value: this.code,
                        language: "c",
                        automaticLayout: true
                    });
                });
            },
            methods: {
                run(){
                    this.output = '';
                    this.code = this.editor?.getValue() ?? this.code;
                    // console.log(this.code);
                    // console.log(typeof(this.code));
                    scanner(this.code);
                }
            }
        });
    </script>
</body>
</html>
